# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
*.code-workspace

# macOS metadata
.DS_Store

# Virtual environments
.env/
.venv/
env/
venv/

# Logs
*.log

# Jupyter convert outputs
*.nbconvert.ipynb

# Pip logs
pip-log.txt
