
# Ignore Python cache files
__pycache__/
*.py[cod]
*.so

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.env/

# Ignore logs
*.log

# Ignore OS metadata
.DS_Store
Thumbs.db
